h1 {
	text-align: center;
	padding-bottom: 2em;
}
#grid {
	display: grid;
	width: 30em;
	height: 30em;
	margin: auto;
}

#grid div {
	border: solid 1px black;
	transition: background-color 550ms;
}

.sketch {
	background-color: black;
}
