h1 {
	text-align: center;
	padding-bottom: 2em;
}

#control {
	display: grid;
	justify-items: center;
	justify-content: center;
	align-content: center;
	padding-bottom: 2em;
	width: 30em;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
}

#grid {
	display: grid;
	width: 30em;
	height: 30em;
	margin: auto;
	background-color: white !important;
	border: solid 1px rgba(0, 0, 0, 0.571);
}

#grid div {
	transition: background-color 550ms;
}

.sketch {
	background-color: black;
}
